* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

html
,

body {
  background-color: #81c3d7;
  color: #010b43;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* top banner*/
.banner{
  width: 100%;
  height: 20vh;
  background-color: whitesmoke;
  color: #010b43;
}

.pages {
display: inline-block;
}

a[class=pages] {
border: none;
color: #010b43;
padding: 3vh;
text-align: center;
text-decoration: none;
font-size: 3vh;
margin: 3vh;
border-radius: 12px;
}

a[class=pages]:hover {
background-color: #81c3d7;
}

.intro-text{
padding-top: 15vh;
}

/* intro */
.introduction {
height: 80vh;
padding: 15% 30vw 0 30vw;
background: #81c3d7;
width: 100%;
padding: 60px;
color: #010b43;
}

.lumie-img:hover {
transform: translateY(-10px);
}

/*apply button + roles*/
a[class=appl] {
  border: none;
  background-color:#81c3d7;
  color: #81c3d7;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 10px;
  border-radius: 12px;
  float: right;
}

a[class=appl]:hover {
  background-color: #010b43;
}

a[class=opp] {
  border: none;
  background-color:white;
  color: #81c3d7;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 10px;
  border-radius: 12px;
  float: right;
}

a[class=opp]:hover {
  background-color: #010b43;
}

/*month summary*/
.month-at-a-glance {
  width: 100%;
  height: 70vh;
  background-color: white;
  padding: 60px;
}

/*form*/

.newsletter {
padding: 15% 30vw 0 30vw;
background: #81c3d7;
width: 100%;
padding: 60px;
color: #010b43;
}

.row-main{
margin-right: 70px;
}

.row-input {
width: 40vh;
font-weight: 300;
font-size:5vh;
}
input[type="name"],
input[type="email"] {
padding: 10px;
border: 1px solid #ddd;
border-radius: 4px;
box-sizing: border-box;
margin-bottom: 10px;
width: 40vw;
margin-left: 5vh;
}

button[type="submit"] {
width: 40%;
padding: 5px;
background-color:#fff;
color: #000;
cursor: pointer;
font-size: 0.9rem;
text-align: center;
border-radius: 8px;
border: none;
font-weight: 300;
font-size:15px;
float: right;
margin-top: 3vh;

}

button[type="submit"]:hover {
background-color:#ddd;
color: #000;
border: none;
}



footer{
  display: flex;
  justify-content: center;
  align-items: last baseline;
  height: 10vh;
  padding-bottom: 25px;
  background: #81c3d7;

}




/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #010b43; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
}

/* The navigation menu links */
.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  background-color: #010b43; /* Black*/
  color: #f8edeb;
  display: block;
  transition: 0.3s;
}

.open-btn{
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*

      <div class="slides-content" style="float:right; width: 400px; margin-right: 50px; margin-top: 50px;" >
        <div class="mySlides">
            <p>Our Next Workshop is:</p>
            <p>Sunday March 10th 2024 @ 10am</p>
        </div>
        <div class="mySlides">
          <p>Check Out Our February Newsletter!</p>
        </div>
      </div>   

/* for form*/
.form-input{
display: flex;
width: 50vh;
}