* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
,

body {
    background-color: #f1f0e9;
    color: #010b43;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



h1 {
    margin-left: 70px;
    position:initial;
    font-weight:500;
    padding-top: 150px;
    font-family: 'Jost', sans-serif;
    font-size: 60px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}


.slides-content {
    background-color: #FFFFFF;
    width: 400px;
    height: 300px;
    border-width: 10px;
    border-color: black;
    float: right;
}



span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
      border-color: transparent;
    }
}

h2{
    width: 50%;
    margin-left: 70px;
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    font-size:20px;
}

footer{
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 20vh;
    margin-bottom: 10px;

}

